.img{
    height: 200px;
    width: 250px;
}
.subTitulo{
    text-align: center;
    font-weight: 200;

}

.titulo{
    font-weight: 500;
    
}
.texto{
    font-size: small;
    text-align: center;
    height: 35px;
}

.precio{
    font-weight: 500;
    text-align: center;
    
}
.botones{
    font-size: small;
    padding-left: 50px;
    display:grid ;
 grid-template-columns: 1fr 1fr;
    height: 100px;
}
.boton{
    color: white;
    background-color: rgb(74, 73, 73);
}
