.navbar{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
height: 25px;
font-size: medium;

}


.izquierda{
    display:  inline-flex;
    align-items: center;
gap: 5px;
}

.mensaje{
    display: inline-flex;
    width: 190px;
}

.btnright{
    max-width: 140px;
    min-width: max-content;
    
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
height: 25px;
font-size: medium;
}
